<!DOCTYPE html>
<html>

<head>
    <title>Ver Pelicula</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet">
    
</head>

<body>
    <div class="nav" id="nav">
       <!-- <ul class="navList" id="navList">
            <li href="/" onclick="goHome()">Inicio</li>
            <li>Contacto</li>
            <button class="LogInButton" id="LogInButton" onclick="showLoginForm()">Ingresar</button>
        </ul>-->
        <ul class="navList" id="navList">
            <li onclick="goHome()">Inicio</li>
            <li>Series</li>
            <li>Contacto</li>
            <button class="LogInButton" id="LogInButton" onclick="showLoginForm()">Ingresar</button>
        </ul>
    </div>

       <!-- LOGIN FORM -->
    <section class="loginForm" id="loginForm">
        <div class="overlay"></div>

        <div class="background-image-login"></div>

        <h1 class="login-h1">INGRESAR</h1>

        <div class="login-container">

            <img class="crossForCloseImg" id="crossForCloseImg" src="..img/crossforclose.png" onclick="closeLoginForm()" height="25px" width="25px"></img>
            <img class="logoImage" src="img/logo.png" height="105px" width="105px"></img>

            <form class="form" action="">
                <label>
                    <input class="e-mail" id="e-mail" type="text" placeholder="E-mail o Usuario" />
                </label>
                <label>
                    <input class="password" id="password" type="password" placeholder="Password" />
                </label>

                <div class="alertBox-Success" id="alertBox-Success">
                    <strong>Exito!</strong>
                </div>
                <div class="alertBox-Error" id="alertBox-Error">
                    <strong>Error!</strong>
                </div>

                <a class="submitButton" id="submitButton" onclick="checkdata()">ENTRAR</a>

                <div class="loginFormLinksDiv" id="loginFormLinksDiv">
                    <a href="../welcome" class="signUp">Registrate!</a>
                    <a class="forgot-password">Olvidaste la contraseña?</a>
                </div>
            </form>
        </div>
    </section>
    <!-- END OF LOGIN FORM --> 

    {{{body}}}

    <section class="commentsSection" id="commentsSection">

        <h2 class="commentsSectionTitle"> Comentarios</h2>

        <div class="newCommentdiv">

            <figure class="userInfo">
                <img class="userImage" src="/img/nouser.png" height="105px" width="105px"></img>
                <h4 class="userNameTitle" id="userNameTitle">Usuario Anonimo</h4>
            </figure>
            <div class="alertBox-Error" id="alertBox-Error">
                <strong>Error!</strong>
            </div>

            <div class="inputCommentDiv">
                <textarea class="commentTextArea" id="commentTextArea" placeholder="Escribe un comentario..."></textarea>
                <input class="imageInput" type='file' placeholder="Puedes subir una Imagen con tu comentario" accept="image/*" onchange="readURL(this);"/>
                <img class='currentImage' id="currentImage" src="#" />
                <button class="commentButton" id="commentButton" onclick='checkUserStatus()'>Comentar >></button>
            </div>
        </div>

    </section>

    <footer class="foot" id="foot">
        <ul class=footLinks>
            <li>
                <h4>Copyright© Todos los derechos reservados</h4>
            </li>
            <li>
                <h4>Privacy Policy</h4>
            </li>
            <li>
                <h4>Terms of Service</h4>
            </li>
            <li>
                <div class=footIcons>
                    <img src="/icons/rss-icon.png"></img>
                    <img src="/icons/slack-icon.png"></img>
                    <img src="/icons/twitter-icon.png"></img>
                </div>
            </li>

        </ul>

    </footer>

    

<script src="../js/handlebars-ajax.js"></script>    
<script src="../js/login-ajax.js"></script>
<script src="../js/login.js"></script>
<script src="../js/handlebars.js"></script>




</body>

</html>