<!DOCTYPE html>
<html>
<head>
    <title>Ver Pelicula</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    
</head>

<body>
  
    <header class = "header" id = "header">           
        <nav class='navClass'>
            <ul>
                <li>Inicio</li>
                <li>
                </li>
                <li></li>
                <li>Contacto</li>
            </ul>
        </nav>       
    </header>  
    
    
    {{{body}}}
   
   
        
    <footer class="foot" id="foot">                     
        <ul class = footLinks>
            <li><h4>Copyright© Todos los derechos reservados</h4></li>
            <li><h4>Privacy Policy</h4></li>
            <li><h4>Terms of Service</h4></li>
            <li>
                <div class = footIcons>
                    <img src="/icons/rss-icon.png"></img>
                    <img src="/icons/slack-icon.png"></img>
                    <img src="/icons/twitter-icon.png"></img>
                </div>
            </li>

        </ul>
          
    </footer>
</body>
</html>