<!DOCTYPE html>
<html>
<head>
    <title>Ver Pelicula</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <link href="//vjs.zencdn.net/5.11/video-js.min.css" rel="stylesheet">
    
</head>

<body>
  
<header class = "header" id = "header" style=display:block;>            
    <nav class='navClass'>
        <ul>
            <li onclick = "goHome()">Inicio</li>
            <li>
            </li>
            <li></li>
            <li>Contacto</li>
        </ul>
    </nav>       
</header>  
    
    
{{{body}}}
   
<section class = "commentsSection">

    <h2 class = "commentsSectionTitle"> Comentarios</h2>

    <div class = "newCommentdiv">

        <figure class = "userInfo">
            <img class = "userImage" src="/img/nouser.png" height="105px" width="105px"></img>
            <h4 class = "userNameTitle">Usuario Anonimo</h4>
        </figure>

        <div class= "inputCommentDiv">
            <textarea placeholder = "Escribe un comentario..."></textarea>   
            <button class = "commentButton">Comentar >></button>
        </div>
    </div>

</section>
        
<footer class="foot" id="foot">                     
        <ul class = footLinks>
            <li><h4>Copyright© Todos los derechos reservados</h4></li>
            <li><h4>Privacy Policy</h4></li>
            <li><h4>Terms of Service</h4></li>
            <li>
                <div class = footIcons>
                    <img src="/icons/rss-icon.png"></img>
                    <img src="/icons/slack-icon.png"></img>
                    <img src="/icons/twitter-icon.png"></img>
                </div>
            </li>

        </ul>
          
</footer>


<script>
    // Redirecciona al Home
    function goHome(){
        window.location.href="/";
    }


</script>


    
</body>
</html>