{{#each movieInfo}}
<p>"los datos estan en la pagina"</p>
<div class = "MovieDetail" id = "MovieDetail">  
    <img src={{this.imagePath}}></img>
    <h1 class = "movieTitle">{{this.name}}</h1>
    <p class = "Year&Length">{{this.year}}, {{this.movieLength}}</p>
</div>  
{{/each}}

