<div class = "MovieDetail" id = "MovieDetail">  
    <img src="{{movieInfo[0].imagePath}}"></img>
    <h1 class = "movieTitle">{{movieInfo[0].name}}</h1>
    <p class = "Year&Length">{{movieInfo[0].year}}, {{movieInfo[0].movieLength}}</p>
</div>  

